<% if current_user %>

<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Muito obrigado pela Participação!</h3>
      <p>
        Você está Logado como: <%= current_user.name %>
        <br>
        <br>
        <div id="user_nav">
          <%=link_to raw("<i class=\"fa fa-facebook-square \"> Sair </i>"),
          signout_path , class: "btn-lg  btn-danger", id: "sign_in" %>
          
          <%=link_to raw("<i class=\"fa fa-money \"> Fazer outra doação </i>"),
          new_payment_path , class: "btn-lg  btn-success"%>
        </div>
      </p>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>

<% else %>

<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Entre com o facebook</h3>
      <p>
        Texto qualquer aqui : All of your payment information will be secured and stored with Amazon Payments. If you don't have an Amazon account, simply select "I'm a new Customer" on the next page.
        <br />
        <div id="user_nav">
          <br>
          <%=link_to raw("<i class=\"fa fa-facebook-square \"> Entrar com facebook </i>"),
          "/auth/facebook" , class: "btn-lg  btn-info", id: "sign_in" %>
        </div>
      </p>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>

<% end %>
